In [ ]:
!pip install pandas,requests

In [14]:
import requests
import pandas as pd
import os

# Class definition: ScriptData
class ScriptData:
    def __init__(self):
        self.api_key = '53HW19OWMFUO38KM' # api key
        self.base_url = "https://www.alphavantage.co/query" # url base
        self.fetched_data = {} # fetched data in jason
        self.converted_data = {} # converted data in pandas data frame

    # Fetch intraday data for a given script
    def fetch_intraday_data(self, script):
        try:
            # Create the URL for the API request
            url = self.base_url + "?function=TIME_SERIES_INTRADAY&symbol={}&interval=1min&apikey={}".format(script, self.api_key)
            # Send the request and store the response
            response = requests.get(url)
            response.raise_for_status()  # Raise exception if request fails
            # Convert the response to JSON format and store the fetched data
            data = response.json()
            self.fetched_data[script] = data  # Store fetched data in instance attribute
        except requests.exceptions.RequestException as e: # handle bad requests
            print(f"An error occurred while fetching data for {script}: {e}")

    # Convert the fetched intraday data to a DataFrame
    def convert_intraday_data(self, script):
        data = self.fetched_data[script]
        if 'Time Series (1min)' in data:
            time_series = data['Time Series (1min)'] # data is inside this key in jason
            df = pd.DataFrame(columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
            for timestamp, values in time_series.items():
                # Convert each value to float and create a row for the DataFrame
                row = [pd.Timestamp(timestamp)]
                row.extend(float(value) for value in values.values())
                df.loc[len(df)] = row

            if script in self.converted_data:
                existing_data = self.converted_data[script]
                if not existing_data.empty:
                    # Get the last timestamp from the existing data
                    last_timestamp = existing_data.iloc[0]['timestamp']
                    # Filter the new data for rows with timestamps greater than the last timestamp
                    new_data = df[df['timestamp'] > last_timestamp]
                    if not new_data.empty:
                        # Concatenate the new data and existing data, ignoring index
                        self.converted_data[script] = pd.concat([new_data, existing_data], ignore_index=True)
                    else:
                        print("No updated data available")
                else:
                    self.converted_data[script] = df
            else:
                self.converted_data[script] = df

    # Retrieve converted data for a given key
    def __getitem__(self, key):
        return self.converted_data[key]

    # Set converted data for a given key
    def __setitem__(self, key, value: pd.DataFrame):
        self.converted_data[key] = value
        print('Data changed')

    # Check if a key exists in the converted data
    def __contains__(self, key):
        return key in self.converted_data

In [15]:
scriptdata=ScriptData()

In [22]:
scriptdata.fetch_intraday_data('GOOGL')

In [23]:
scriptdata.convert_intraday_data('GOOGL')

No updated data available

In [18]:
scriptdata['GOOGL'].dtypes

timestamp    datetime64[ns]
open                float64
high                float64
low                 float64
close               float64
volume              float64
dtype: object

In [19]:
scriptdata['GOOGL']

             timestamp      open    high     low   close   volume
0  2023-06-13 19:59:00  123.8100  123.83  123.81  123.81   1384.0
1  2023-06-13 19:56:00  123.8400  123.85  123.79  123.80   1509.0
2  2023-06-13 19:55:00  123.8300  123.84  123.80  123.84   2085.0
3  2023-06-13 19:54:00  123.8400  123.84  123.84  123.84   1087.0
4  2023-06-13 19:53:00  123.8400  123.84  123.83  123.83    873.0
..                 ...       ...     ...     ...     ...      ...
95 2023-06-13 16:43:00  123.7000  123.70  123.70  123.70    404.0
96 2023-06-13 16:40:00  123.6200  123.62  123.62  123.62    203.0
97 2023-06-13 16:39:00  123.6100  123.61  123.61  123.61    412.0
98 2023-06-13 16:38:00  123.6200  123.65  123.62  123.65   4906.0
99 2023-06-13 16:37:00  123.6113  123.83  123.55  123.62  25928.0

[100 rows x 6 columns]

In [20]:
def indicator1(df, timeperiod=5):
    indicator_df = pd.DataFrame(columns=['timestamp', 'indicator'])
    indicator_df['indicator'] = df['close'].rolling(window=timeperiod).mean()
    indicator_df['timestamp'] = df['timestamp']
    return indicator_df

In [25]:
indicator1(scriptdata['GOOGL'], timeperiod=5)

             timestamp  indicator
0  2023-06-13 19:59:00        NaN
1  2023-06-13 19:56:00        NaN
2  2023-06-13 19:55:00        NaN
3  2023-06-13 19:54:00        NaN
4  2023-06-13 19:53:00    123.824
..                 ...        ...
95 2023-06-13 16:43:00    123.670
96 2023-06-13 16:40:00    123.672
97 2023-06-13 16:39:00    123.654
98 2023-06-13 16:38:00    123.654
99 2023-06-13 16:37:00    123.640

[100 rows x 2 columns]

In [21]:
class Strategy:
    def __init__(self, script):
        self.script = script
        self.data: pd.DataFrame  # Data attribute to store the script data
        self.data_sig: pd.DataFrame  # Data attribute to store the generated signals

    # Get script data from ScriptData object
    def get_script_data(self, ob: ScriptData):
        self.data = ob[self.script]

    # Generate signals based on data and indicator DataFrame
    def generate_signals(self, df, indicator_df):
        signals = pd.DataFrame(columns=['timestamp', 'signal'])  # DataFrame to store signals
        signals['timestamp'] = self.data['timestamp']
        signals['signal'] = 'NO_SIGNAL'

        for i in range(1, len(df)):
            # Determine the signal (BUY or SELL) based on indicator and close values
            if indicator_df['indicator'][i] > df['close'][i] and indicator_df['indicator'][i - 1] <= df['close'][i - 1]:
                signals.loc[i, 'signal'] = 'BUY'
            elif indicator_df['indicator'][i] < df['close'][i] and indicator_df['indicator'][i - 1] >= df['close'][i - 1]:
                signals.loc[i, 'signal'] = 'SELL'

        self.data_sig = signals  # Store the generated signals

    # Get filtered signals (BUY or SELL) from the generated signals
    def get_signals(self):
        ind = indicator1(self.data, 5)  # Generate indicator DataFrame
        self.generate_signals(self.data, ind)  # Generate signals
        filtered_signals = self.data_sig[self.data_sig['signal'].isin(['BUY', 'SELL'])]  # Filter BUY and SELL signals
        return filtered_signals

script = "GOOGL"

strategy = Strategy(script)
signals = strategy.get_script_data(scriptdata)
strategy.get_signals()

             timestamp signal
7  2023-06-13 19:49:00    BUY
9  2023-06-13 19:45:00   SELL
15 2023-06-13 19:37:00    BUY
18 2023-06-13 19:30:00   SELL
19 2023-06-13 19:26:00    BUY
21 2023-06-13 19:22:00   SELL
22 2023-06-13 19:09:00    BUY
23 2023-06-13 19:08:00   SELL
25 2023-06-13 18:43:00    BUY
27 2023-06-13 18:33:00   SELL
29 2023-06-13 18:31:00    BUY
36 2023-06-13 18:20:00   SELL
37 2023-06-13 18:18:00    BUY
38 2023-06-13 18:15:00   SELL
46 2023-06-13 18:00:00    BUY
48 2023-06-13 17:58:00   SELL
49 2023-06-13 17:57:00    BUY
50 2023-06-13 17:56:00   SELL
52 2023-06-13 17:54:00    BUY
58 2023-06-13 17:39:00   SELL
59 2023-06-13 17:38:00    BUY
64 2023-06-13 17:27:00   SELL
68 2023-06-13 17:19:00    BUY
72 2023-06-13 17:14:00   SELL
73 2023-06-13 17:12:00    BUY
79 2023-06-13 17:04:00   SELL
80 2023-06-13 17:02:00    BUY
81 2023-06-13 17:01:00   SELL
82 2023-06-13 17:00:00    BUY
89 2023-06-13 16:53:00   SELL
90 2023-06-13 16:52:00    BUY
92 2023-06-13 16:48:00   SELL
93 2023-06-13 16:46:00    BUY
94 2023-06-13 16:44:00   SELL
96 2023-06-13 16:40:00    BUY